<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=false">
    <title>Vanity</title>
    <link rel="stylesheet" href="/stylesheets/blog.css">
</head>
<body class="">
    <div id="container">
        <header id="header">
            <div id="topbar">
                <h1><a href="javascript:;">我的青春我做主</a>
                </h1>
                <a id="slide">
                    <div id="icon"></div>
                </a>
            </div>
            <div id="cover">
                <div id="description">
                    事无巨细。
                </div>
                <div id="overlay"></div>
            </div>
        </header>
        <section id="posts-container">
            <div id="loading"></div>
            <div id="posts" style="position: relative; height: 1383px;">
                <article id="84228810780" class="entry" style="position: absolute; left: 0px; top: 0px;">
                    <div class="photo">

                        <a href="#" target="_blank">
                            <img src="/images/blog/tumblr_n4steoyWzV1ta4b07o1_500.jpg" alt="normal picture" title="blog name">
                        </a>
                    </div>
                    <div class="captions">
                        <p>
                            <span>照片照片照片照片照片照片照片照片照片照片照片照片照片照片by&nbsp;</span><a href="#" target="_blank">sheting</a>
                            <span>.</span>
                        </p>
                    </div>
                </article>
                <!--      entry       -->
                <article id="84228806090" class="entry" style="position: absolute; left: 380px; top: 0px;">
                    <div class="photo">

                        <a href="http://theme-vanity.tumblr.com/post/84228806090/this-set-was-my-first-ever-foray-into-aerial" target="_blank">
                            <img src="/images/blog/tumblr_n4stejUogb1ta4b07o1_500.jpg" alt="This set was my first ever foray into aerial photography from a small plane. The views here capture Garibaldi Provincial Park, Mt. Garibaldi. Photography work by Circa.">
                        </a>
                    </div>
                    <div class="captions">
                        <p>This set was my first ever foray into aerial photography from a small plane. The views here capture Garibaldi Provincial Park, Mt. Garibaldi.&nbsp;Photography work by Circa.</p>
                    </div>
                    <div class="details none">
                        <a href="http://theme-vanity.tumblr.com/post/84228806090/this-set-was-my-first-ever-foray-into-aerial" target="_blank">3 months ago</a>
                        / <a href="http://theme-vanity.tumblr.com/post/84228806090/this-set-was-my-first-ever-foray-into-aerial" target="_blank">2 notes</a>
                        <ul class="share share84228806090">
                            <a href="http://twitter.com/intent/tweet?source=sharethiscom&url=http://theme-vanity.tumblr.com/post/84228806090/this-set-was-my-first-ever-foray-into-aerial" target="_blank">
                                <span>1</span>Twitter</a>
                            <a href="https://www.facebook.com/sharer.php?u=http://theme-vanity.tumblr.com/post/84228806090/this-set-was-my-first-ever-foray-into-aerial" target="_blank">
                                <span>2</span>Facebook</a>
                            <a href="https://plus.google.com/share?url=http://theme-vanity.tumblr.com/post/84228806090/this-set-was-my-first-ever-foray-into-aerial" target="_blank">
                                <span>5</span>Google +</a>
                            <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
                                <span>6</span>Pinterest</a>
                        </ul>
                        <div class="buttons">
                            <a class="share-button share-button84228806090" rel="84228806090">n</a>
                            <a href="https://www.tumblr.com/reblog/84228806090/9Oo3iflf" class="reblog-button">c</a>
                            <a class="like-button">
                                <div class="like_button" data-post-id="84228806090" id="like_button_84228806090">
                                    <iframe id="like_iframe_84228806090" src="./Vanity_files/like_iframe(5).htm" scrolling="no" width="13" height="13" frameborder="0" class="like_toggle" allowtransparency="true"></iframe>
                                </div>z</a>
                        </div>
                    </div>
                </article>
                <!--      entry       -->
                <article id="84228826035" class="entry" style="position: absolute; left: 760px; top: 0px;">
                    <div class="photo">
                        <a href="http://theme-vanity.tumblr.com/post/84228826035/photo-post-magna-aliqua-ut-labore-et-dolore" target="_blank">
                            <img src="/images/blog/tumblr_n4stf3735d1ta4b07o1_500.jpg">
                        </a>
                    </div>
                    <div class="captions">
                        <h2>Photo Post</h2>
                        <p>
                            <span>Magna aliqua. U</span>
                            <span>t labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Photo by&nbsp;</span><a href="http://julianbialowas.com/#/mountains/" target="_blank">Julian Bialowas</a>
                            <span>.</span>
                        </p>
                    </div>
                    <div class="details none">
                        <a href="http://theme-vanity.tumblr.com/post/84228826035/photo-post-magna-aliqua-ut-labore-et-dolore" target="_blank">3 months ago</a>
                        <ul class="share share84228826035">
                            <a href="http://twitter.com/intent/tweet?source=sharethiscom&url=http://theme-vanity.tumblr.com/post/84228826035/photo-post-magna-aliqua-ut-labore-et-dolore" target="_blank">
                                <span>1</span>Twitter</a>
                            <a href="https://www.facebook.com/sharer.php?u=http://theme-vanity.tumblr.com/post/84228826035/photo-post-magna-aliqua-ut-labore-et-dolore" target="_blank">
                                <span>2</span>Facebook</a>
                            <a href="https://plus.google.com/share?url=http://theme-vanity.tumblr.com/post/84228826035/photo-post-magna-aliqua-ut-labore-et-dolore" target="_blank">
                                <span>5</span>Google +</a>
                            <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
                                <span>6</span>Pinterest</a>
                        </ul>
                        <div class="buttons">
                            <a class="share-button share-button84228826035" rel="84228826035">n</a>
                            <a href="https://www.tumblr.com/reblog/84228826035/NC4gOCPF" class="reblog-button">c</a>
                            <a class="like-button">
                                <div class="like_button" data-post-id="84228826035" id="like_button_84228826035">
                                    <iframe id="like_iframe_84228826035" src="./Vanity_files/like_iframe(7).htm" scrolling="no" width="13" height="13" frameborder="0" class="like_toggle" allowtransparency="true"></iframe>
                                </div>z</a>
                        </div>
                    </div>
                </article>
                <!--      entry       -->
                <article id="84228800000" class="entry" style="position: absolute; left: 0px; top: 367px;">
                    <div class="photo">

                        <a href="http://theme-vanity.tumblr.com/post/84228800000/illo-inventore-veritatis-et-quasi-architecto" target="_blank">
                            <img src="/images/blog/tumblr_n4stedg2pT1ta4b07o1_500.jpg" alt="Illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Photography work by Circa.">
                        </a>
                    </div>
                    <div class="captions">
                        <p>
                            <span>Illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.&nbsp;</span>
                            <span>Photography work by&nbsp;</span><a href="http://circa1983.ca/" target="_blank">Circa</a>
                            <span>.</span>
                        </p>
                    </div>
                    <div class="details none">
                        <a href="http://theme-vanity.tumblr.com/post/84228800000/illo-inventore-veritatis-et-quasi-architecto" target="_blank">3 months ago</a>
                        / <a href="http://theme-vanity.tumblr.com/post/84228800000/illo-inventore-veritatis-et-quasi-architecto" target="_blank">1 note</a>
                        <ul class="share share84228800000">
                            <a href="http://twitter.com/intent/tweet?source=sharethiscom&url=http://theme-vanity.tumblr.com/post/84228800000/illo-inventore-veritatis-et-quasi-architecto" target="_blank">
                                <span>1</span>Twitter</a>
                            <a href="https://www.facebook.com/sharer.php?u=http://theme-vanity.tumblr.com/post/84228800000/illo-inventore-veritatis-et-quasi-architecto" target="_blank">
                                <span>2</span>Facebook</a>
                            <a href="https://plus.google.com/share?url=http://theme-vanity.tumblr.com/post/84228800000/illo-inventore-veritatis-et-quasi-architecto" target="_blank">
                                <span>5</span>Google +</a>
                            <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
                                <span>6</span>Pinterest</a>
                        </ul>
                        <div class="buttons">
                            <a class="share-button share-button84228800000" rel="84228800000">n</a>
                            <a href="https://www.tumblr.com/reblog/84228800000/pm9zKXhh" class="reblog-button">c</a>
                            <a class="like-button">
                                <div class="like_button" data-post-id="84228800000" id="like_button_84228800000">
                                    <iframe id="like_iframe_84228800000" src="./Vanity_files/like_iframe(4).htm" scrolling="no" width="13" height="13" frameborder="0" class="like_toggle" allowtransparency="true"></iframe>
                                </div>z</a>
                        </div>
                    </div>
                </article>
                <!--      entry       -->
            </div>
            <!--  Posts       -->
        </section>
    </div>
    <!--  #container   -->
    <!-- // <script type="text/javascript" src="./Vanity_files/script.js"></script> -->
</body>

</html>
