<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet/less" type="text/css" href="/stylesheets/music.less">
</head>
<body>
    <div id="container">
        <div class="circle blue"></div>
        <div class="circle yellow"></div>
        <div class="circle red"></div>
        <div class="circle green"></div>
        <div class="circle black"></div>    
    </div>
    <script src="/javascripts/less-1.7.4.min.js"></script>
    <script>less.watch();</script>
</body>
</html>