    *,*:before,*:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
    html {
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;
        left: 0;
        right: 0;
        background: #dae1e3 url("http://assets.tumblr.com/images/x.gif") repeat
    }
    a,
    a:hover {
        cursor: pointer;
        word-wrap: break-word;
        text-decoration: none;
        color: #6e8296
    }
    a:hover {
        color: #239fc5
    }
    img {
        max-width: 100%;
        display: block
    }
    h1,h2,h3,h4,h5 {
        margin: 0 0 15px;
        font: 700 16px/1.2em"Montserrat", "Helvetica Neue", sans-serif;
        text-shadow: 0 1px 0 1px rgba(0, 0, 0, .3);
        color: #555555
    }
    h1 {
        font-size: 22px
    }
    h2 {
        font-size: 20px
    }
    h3 {
        font-size: 18px
    }
    blockquote {
        padding: 0 0 0 15px;
        margin: 0 0 20px;
        font-style: italic;
        border-left: 4px solid #f0f0f0
    }
    a,
    .like_button,
    #header #topbar a#slide #icon,
    #header #topbar a#slide #icon:after,
    #header #topbar a#slide #icon:before,
    #sidebar a#avatar img,
    #sidebar #search input[type="text"],
    #sidebar #instagram #instagram-feed img,
    #sidebar #flickr #flickr-feed img,
    #sidebar #dribbble #dribbble-feed img,
    #sidebar #twitter .content,
    .mfp-fade.mfp-bg,
    .mfp-fade.mfp-wrap .mfp-content,
    .entry .photo img {
        -webkit-transition: .2s;
        transition: .2s
    }
    #container,
    #sidebar,
    #fade {
        -webkit-transition: .4s ease-in-out;
        transition: .4s ease-in-out
    }
    a#install-button {
        width: 100px;
        height: 20px;
        padding: 2px 4px;
        background: url("http://static.tumblr.com/3zmswwt/soKmzhmhg/install_button.png") rgba(0, 0, 0, .4) no-repeat;
        border: 1px solid rgba(0, 0, 0, 0.18);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        z-index: 100;
        top: -30px;
        right: 5px;
        position: fixed
    }
    a#install-button:hover {
        background: url("http://static.tumblr.com/3zmswwt/soKmzhmhg/install_button.png") rgba(0, 0, 0, .32) no-repeat
    }
    span#install-theme-text {
        float: right;
        font: 400 12px Arial;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .08);
        color: white
    }
    #tumblr_controls {
        position: fixed
    }
    .like_button {
        position: absolute;
        opacity: 0
    }
    .like_button.liked {
        opacity: 1 !important
    }
    /*      End-Setting     */
    #container {
        position: relative;
        width: 1140px;
        margin: 60px auto;
        padding: 0;
        font: 12px/1.8em"Arial", san-serif;
        color: #777777;
        background: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
        border-radius: 3px
    }
    #header #topbar {
        position: relative;
        text-align: center;
        z-index: 20
    }
    #header #topbar h1 {
        margin: 0
    }
    #header #topbar h1 a {
        text-transform: uppercase;
        letter-spacing: 3px;
        font: 20px/80px"Montserrat", sans-serif;
        color: #444444
    }
    #header #topbar a#slide {
        position: absolute;
        margin: 18px;
        width: 20px;
        height: 45px;
        top: 0;
        left: 15px;
        text-align: center
    }
    #header #topbar a#slide #icon {
        width: 18px;
        height: 3px;
        margin: 21px auto;
        background: #444444;
    }
    #header #topbar a#slide #icon:after {
        content: "";
        position: absolute;
        width: 18px;
        height: 3px;
        bottom: 15px;
        margin: 0 0 0 -9px;
        background: #444444
    }
    #header #topbar a#slide #icon:before {
        content: "";
        position: absolute;
        width: 18px;
        height: 3px;
        top: 15px;
        margin: 0 0 0 -9px;
        background: #444444
    }
    #header #cover {
        position: relative;
        padding: 150px 0;
        background: #212121 url("http://static.tumblr.com/17a9bb177302d6fe459898d0f7aac51c/fsf06nd/Gmin54vmv/tumblr_static_exb5cgn3f54og4cckssggs0ow.jpg") no-repeat center;
        -webkit-background-size: cover;
        background-size: cover;
    }
    #header #cover #description {
        position: relative;
        width: 90%;
        max-width: 600px;
        margin: auto;
        text-align: center;
        font: 25px/2em"Montserrat";
        color: #ffffff;
        z-index: 11
    }
    #header #cover #description a {
        text-decoration: underline;
        color: #ffffff
    }
    #header #cover #overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: #0bc4b7;
        background: -webkit-linear-gradient(45deg, #0c70e0; #0bc4b7);
        background: -o-linear-gradient(45deg, #0c70e0, #0bc4b7);
        background: -moz-linear-gradient(45deg, #0c70e0, #0bc4b7);
        background: linear-gradient(45deg, #0c70e0, #0bc4b7);
        opacity: .50
    }
    /*      End-header     */
    /*      Sidebar     */
    #sidebar {
        position: absolute;
        top: 0;
        width: 270px;
        margin: 0 0 60px;
        padding: 30px 0 !important;
        background: #ffffff;
        border-radius: 3px;
        transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
        opacity: 0;
        z-index: 20
    }
    #sidebar h2 {
        margin: 0 0 20px;
        font-size: 13px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: .5px;
        color: #555555
    }
    #sidebar hr {
        height: 1px;
        width: 270px;
        margin: 30px 0 30px -30px;
        background: #f0f0f0;
        border: 0
    }
    #sidebar #social hr,
    #sidebar #filters hr {
        margin: 30px 0 20px -30px
    }
    #sidebar a#avatar,
    #sidebar #social,
    #sidebar #navigation,
    #sidebar #filters,
    #sidebar #search,
    #sidebar #twitter,
    #sidebar #instagram,
    #sidebar #flickr,
    #sidebar #dribbble,
    #sidebar #credit {
        padding: 0 30px
    }
    #sidebar a#avatar {
        display: block
    }
    #sidebar a#avatar img {
        max-width: 100%;
        opacity: .8
    }
    #sidebar a#avatar img:hover {
        opacity: 1
    }
    #sidebar #social {
        display: none;
        display: block;
        display: block;
        display: block;
        display: block;
    }
    #sidebar #social a {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 10px 10px 0 0;
        text-align: center;
        font: 12px/30px"icon";
        color: #fff;
        border-radius: 2px
    }
    #sidebar #social a:hover {
        opacity: .6
    }
    #social a.dribbble {
        background: #ea4c89
    }
    #social a.github,
    #social a.behance {
        background: #1769ff
    }
    #social a.linkedin {
        background: #007bb6
    }
    #social a.flickr {
        background: #fe0084
    }
    #social a.vimeo {
        background: #6dceee
    }
    #social a.twitter {
        background: #00aced
    }
    #social a.facebook:hover {
        background: #3b5999
    }
    #social a.google:hover {
        background: #d84937
    }
    #social a.pinterest:hover {
        background: #c11a22
    }
    #social a.spotify:hover {
        background: #81b71a
    }
    #social a.instagram {
        background: #1c5380
    }
    #social a.soundcloud:hover {
        background: #f70
    }
    #social a.stumbleupon:hover {
        background: #f74425
    }
    #social a.youtube:hover {
        background: #b00
    }
    #sidebar #navigation li {
        list-style-type: none
    }
    #sidebar #navigation li a {
        margin: 0 0 5px;
        text-transform: uppercase;
        font: 13px"Montserrat", sans-serif;
        color: #555555
    }
    #sidebar #filters li {
        display: inline-block;
        list-style-type: none
    }
    #sidebar #filters li a {
        display: inline-block;
        margin: 10px 10px 0 0;
        padding: 5px 10px;
        text-transform: lowercase;
        font-size: .95em;
        color: #7b7b7b;
        background: rgba(123, 123, 123, .1);
        box-shadow: 0 0 0 1px rgba(123, 123, 123, .3);
        border-radius: 1px
    }
    #sidebar #filters li a:hover {
        box-shadow: 0 0 0 1px rgba(123, 123, 123, .5)
    }
    #sidebar #search {
        width: 100%
    }
    #sidebar #search input[type="text"] {
        width: 100%;
        padding: 10px;
        font: 400 11px arial;
        letter-spacing: 1px;
        background: rgba(123, 123, 123, .1);
        border: 0;
        border-radius: 2px;
        box-shadow: 0 0 0 1px rgba(123, 123, 123, .3)
    }
    #sidebar #search span {
        position: relative;
        float: right;
        margin: -23px 12px 0;
        font: 12px"icon";
        z-index: 1
    }
    #sidebar #search input:focus {
        outline: none;
        box-shadow: 0 0 0 1px rgba(123, 123, 123, .5)
    }
    #sidebar #twitter .content {
        margin: 5px 0 0;
        font-size: 12px;
        color: #7b7b7b
    }
    #sidebar #instagram #instagram-feed {
        padding: 0;
        margin: 0;
        list-style: none
    }
    #sidebar #instagram #instagram-feed img:nth-child(2),
    #sidebar #instagram #instagram-feed img:nth-child(4) {
        margin: 0 0 5px
    }
    #sidebar #flickr #flickr-feed {
        padding: 0 !important;
        list-style: none;
        overflow: hidden
    }
    #sidebar #flickr #flickr-feed li {
        margin: 0
    }
    #sidebar #flickr #flickr-feed img {
        float: left;
        margin: 0 5px 5px 0 !important
    }
    #sidebar #instagram #instagram-feed:after,
    #sidebar #dribbble #dribbble-feed:after {
        content: "";
        display: block;
        height: 0;
        clear: both
    }
    #sidebar #instagram #instagram-feed img,
    #sidebar #flickr #flickr-feed img,
    #sidebar #dribbble #dribbble-feed img {
        float: left;
        width: 65px;
        height: auto !important;
        margin: 0 5px 5px 0;
        border-radius: 2px;
        opacity: .8
    }
    #sidebar #twitter .content:hover,
    #sidebar #instagram #instagram-feed img:hover,
    #sidebar #flickr #flickr-feed img:hover,
    #sidebar #dribbble #dribbble-feed img:hover {
        opacity: 1
    }
    #sidebar #credit,
    #sidebar #credit a {
        font-size: 11px;
        color: #7b7b7b
    }
    #sidebar #credit a:hover {
        opacity: .6
    }
    /*      End-Sidebar     */
    #posts-container {
        position: relative
    }
    #posts {
        position: relative;
        overflow: hidden
    }
    #post-info {
        width: 100%;
        padding: 20px;
        text-align: center
    }
    #post-info h2 {
        display: inline;
        margin: 0;
        font: 12px"Arial"
    }
    .entry {
        position: relative;
        overflow: hidden;
        width: 380px
    }
    .entry .media {
        width: 100%;
        padding: 30px
    }
    .entry .media iframe {
        display: block;
        width: 100%
    }
    .entry .photo {
        position: relative;
        padding: 30px
    }
    .entry .photo img {
        width: 100%
    }
    .entry .photo img:hover {
        opacity: .8
    }
    .entry .photo.photoset a.p-photo {
        width: 100%;
        height: 250px;
        overflow: hidden;
        display: none
    }
    .entry .photo.photoset a.p-photo:first-child,
    .entry .photo.photoset a.p-photo:nth-child(2),
    .entry .photo.photoset a.p-photo:nth-child(3) {
        display: block
    }
    .entry .photo.photoset a.p-photo:nth-child(2),
    .entry .photo.photoset a.p-photo:nth-child(3) {
        top: 0;
        margin: -250px 0 0;
        opacity: 0
    }
    .entry .photo.photoset:hover a.p-photo:nth-child(2) {
        opacity: 1;
        -webkit-transition: all .25s ease .25s;
        transition: all .25s ease .25s
    }
    .entry .photo.photoset:hover a.p-photo:nth-child(3) {
        opacity: 1;
        -webkit-transition: all .25s ease 1s;
        transition: all .25s ease 1s
    }
    .entry .text {
        position: relative;
        padding: 30px
    }
    .entry .captions {
        padding: 0 30px 30px
    }
    .entry p {
        margin: 0 0 20px !important
    }
    .entry p:last-child {
        margin: 0 !important
    }
    .entry .details {
        padding: 30px;
        border-top: 1px solid #f0f0f0
    }
    .entry .details.none {
        display: none
    }
    .entry .details,
    .entry .details a {
        font: 11px/20px"arial";
        color: #cccccc
    }
    .entry .details a:hover {
        color: #777777
    }
    .entry .details .tags {
        margin: 0 0 15px
    }
    .entry .details .tags a {
        margin: 0 10px 0 0
    }
    .entry .details .buttons {
        display: inline;
        float: right;
        margin: 2px 0 0 0
    }
    .entry .details .buttons a {
        display: inline-block;
        font: 13px"icon";
        margin: 0 0 0 10px
    }
    .entry .details .buttons a.like-button {
        position: relative;
        cursor: pointer
    }
    .entry .details .buttons .like_button {
        bottom: 0;
        left: 0
    }
    .entry .details ul.share {
        display: none;
        position: absolute;
        width: 130px;
        bottom: 50px;
        right: 17px;
        padding: 10px 20px;
        background: rgba(0, 0, 0, .85);
        box-shadow: 0 3px 7px 2px rgba(0, 0, 0, .3);
        border-radius: 3px;
        z-index: 10
    }
    .entry .details ul.share:before {
        content: "";
        pointer-events: none;
        position: absolute;
        display: block;
        bottom: -10px;
        margin: 0 0 0 30px;
        padding: 0;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid rgba(0, 0, 0, .8);
        background: transparent
    }
    .entry .details ul.share a {
        display: block;
        margin: 10px 0;
        list-style-type: none;
        color: #fff !important
    }
    .entry .details ul.share a:hover {
        opacity: .4
    }
    .entry .details ul.share a span {
        display: inline-block;
        width: 25px;
        font: 13px"icon";
        opacity: .8
    }
    .entry .text .question {
        border-bottom: 1px solid #f0f0f0
    }
    .entry .text .odd,
    .entry .text .even {
        margin: 5px 0 0 0;
        padding: 10px;
        border-radius: 2px
    }
    .entry .text .odd {
        background: rgba(119, 119, 119, .08)
    }
    .entry .text a.link {
        display: block;
        position: relative;
        padding: 15px;
        font: 13px/20px"Montserrat";
        color: #fff !important;
        background: #6e8296;
        border-radius: 2px
    }
    .entry .text a.link:after {
        content: "n";
        position: absolute;
        right: 15px;
        top: 50%;
        font: 22px/0"icon";
        opacity: .1
    }
    .entry .text .question {
        padding: 0 0 15px 0
    }
    .entry .quote h3 {
        letter-spacing: -1px;
        font: 400 20px"Georgia";
        line-height: 1.6em
    }
    .entry .text .quote-symbol {
        position: absolute;
        top: -15px;
        left: 10px;
        font: 160px"arial";
        opacity: .1
    }
    .entry .text .source {
        margin: 20px 0 0 0;
        text-align: right
    }
    .entry .text .source .odd {
        display: inline;
        background: transparent
    }
    /*      End-Entry       */
    .entry,
    #post-info,
    #pagination {
        box-shadow: inset 1px 1px #f0f0f0, 1px 1px #f0f0f0
    }
    /*      Pagination      */
    #infscr-loading {
        display: none
    }
    #pagination {
        position: relative;
        width: 100%;
        margin: 0 auto 60px
    }
    #pagination:after {
        content: "";
        display: block;
        height: 0;
        clear: both
    }
    #pagination a {
        position: absolute;
        display: inline-block;
        padding: 25px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font: 700 12px"Montserrat", sans-serif;
        color: rgba(85, 85, 85, .3)
    }
    #pagination a.exist:hover {
        color: rgba(110, 130, 150, 1)
    }
    #pagination a.exist {
        position: relative;
        right: auto;
        left: auto;
        z-index: 5;
        color: rgba(85, 85, 85, 1)
    }
    #pagination a#newer {
        left: 0;
        border-right: 1px solid #f0f0f0
    }
    #pagination a#older {
        right: 0;
        float: right;
        border-left: 1px solid #f0f0f0
    }
    #pagination a#newer:before {
        content: ",";
        vertical-align: top;
        margin: 0 20px 0 0;
        font: 15px"icon";
    }
    #pagination a#older:after {
        content: ".";
        vertical-align: top;
        margin: 0 0 0 20px;
        font: 15px"icon";
    }
    /*      End-Pagination      */
    /*      Permalink       */
    #permalink .entry {
        display: block;
        width: 90% !important;
        height: auto !important;
        margin: 60px auto 0;
        padding: 0 !important;
        box-shadow: 0 0 0 transparent!important
    }
    #permalink .entry .photo {
        padding: 0 0 40px
    }
    #permalink .entry .photo img {
        width: auto !important;
        margin: auto
    }
    #permalink .entrty .photo.photoset {
        max-width: 700px;
        margin: auto
    }
    #permalink .entry .text,
    #permalink .entry .captions,
    #permalink .entry .details,
    #permalink .permalink-box {
        width: 90%;
        max-width: 600px;
        margin: auto;
        padding: 40px 0;
        border-top: 1px solid #f0f0f0;
        box-shadow: 0 !important
    }
    #permalink .permalink-box {
        margin: 0 auto 20px
    }
    #permalink .permalink-box h2 {
        margin: 0 0 20px
    }
    #permalink .permalink-box ol.notes {
        margin: 20px 0 0 -37px;
        list-style-type: none
    }
    #permalink .permalink-box ol.notes li.note {
        padding: 3px 0
    }
    #permalink .permalink-box ol.notes li.more_notes_link_container {
        border-top: 1px solid #f0f0f0
    }
    #permalink .permalink-box ol.notes li.more_notes_link_container,
    #permalink .permalink-box ol.notes li.more_notes_link_container a.more_notes_link {
        text-transform: uppercase;
        letter-spacing: 1px;
        font: 11px Montserrat;
        color: #777777
    }
    #permalink .permalink-box ol.notes li.like:after,
    #permalink .permalink-box ol.notes li.reblog:after,
    #permalink .permalink-box ol.notes li.reply:after,
    #permalink .permalink-box ol.notes li.answer:after,
    #permalink .permalink-box ol.notes li.original_post:after {
        float: right;
        margin: -17px 0 0 0;
        font: 14px icon;
        opacity: .5
    }
    #permalink .permalink-box ol.notes li.like:after {
        content: "z"
    }
    #permalink .permalink-box ol.notes li.reblog:after {
        content: "c"
    }
    #permalink .permalink-box ol.notes li.reply:after {
        content: "k";
        font: 13px icon
    }
    #permalink .permalink-box ol.notes li.answer:after {
        content: "k";
        font-size: 11px
    }
    #permalink .permalink-box ol.notes li.original_post:after {
        content: "d"
    }
    #permalink .permalink-box ol.notes img {
        display: inline;
        padding: 0 10px 0 0
    }
    #permalink .permalink-box ol.notes li.more_notes_link_container {
        margin: 30px 0 0 0;
        padding: 30px 0 0 0
    }
    /*      Animation       */
    #container.slide {
        transform: translateX(280px);
        -ms-transform: translateX(280px);
        -webkit-transform: translateX(280px)
    }
    #container.slide #fade {
        pointer-events: auto;
        opacity: .8
    }
    #container.slide #sidebar {
        opacity: 1
    }
    #container.slide #header #topbar a#slide #icon {
        background: rgba(68, 68, 68, 0)
    }
    #container.slide #header #topbar a#slide #icon:before {
        top: 21px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    #container.slide #header #topbar a#slide #icon:after {
        bottom: 21px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    #fade {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #ffffff;
        pointer-events: none;
        opacity: 0;
        border-radius: 3px;
        z-index: 30
    }
    #posts,
    #loading {
        opacity: 0;
        -webkit-transition: opacity 1s ease, height .5s ease;
        transition: opacity 1s ease, height .5s ease
    }
    #loading {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 300px;
        left: 50%;
        margin: 0 0 0 -25px;
        border-radius: 2px;
        z-index: 100;
        background: url('http://static.tumblr.com/j6tha7z/AFfmuponn/ajax-loader.gif') no-repeat center #fff;
        opacity: 1;
        filter: alpha(opacity=0)
    }
    /*      Responsive      */
    @media screen and (max-width: 1140px) {
        #container {
            width: 760px
        }
    }
    @media screen and (max-width: 760px) {
        #container {
            width: 90%
        }
        .entry {
            width: 50%
        }
    }
    @media screen and (max-width: 450px) {
        #container {
            width: 100% !important
        }
        .entry {
            width: 100%
        }
        #permalink .permalink-box {
            text-align: center !important
        }
        #permalink .permalink-box ol.notes img,
        #permalink .permalink-box ol.notes li:after {
            display: none
        }
    }
    /*      End-Responsive      */
    /*      Adjustments     */
    #pagination {
        opacity: 0 !important
    }
    #pagination a {
        padding: 0 !important;
        height: 0 !important
    }
    #posts,
    #pagination {
        opacity: 1
    }
    #loading {
        opacity: 0
    }
    </style>
    <link rel="alternate" href="android-app://com.tumblr/tumblr/x-callback-url/blog?blogName=theme-vanity">
    <script src="./Vanity_files/tumblelog.js"></script>
    <style type="text/css" id="tumblr_teaser_follow_css">
    #tumblr_teaser_follow {
        display: block;
        opacity: 1;
        visibility: hidden;
        position: fixed;
        bottom: 0px;
        right: 0px;
        width: 1px;
        height: 1px;
        z-index: 2147483647;
    }
    #tumblr_teaser_follow.open {
        visibility: visible;
        width: 310px;
        height: 110px;
    }
    </style>
    <style type="text/css" id="tumblr_iframe_css">
    .tumblr_controls {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        opacity: 1;
        width: 1px;
        height: 1px;
        z-index: 2147483647;
        visibility: hidden;
        pointer-events: none;
    }
    .tumblr_controls.visible {
        visibility: visible;
        pointer-events: all;
    }
    .tumblr_controls.sticky {
        position: fixed;
    }
    .tumblr_controls.transition {
        -webkit-transition: top 0.1s ease;
        -moz-transition: top 0.1s ease;
        -ms-transition: top 0.1s ease;
        -o-transition: top 0.1s ease;
        transition: top 0.1s ease;
    }
    iframe#tumblr_controls.tumblr_controls.sticky.transition {
        -webkit-animation: tumblr_controls_fade_in 0.3s 0.2s linear 1 both;
        -moz-animation: tumblr_controls_fade_in 0.3s 0.2s linear 1 both;
        -ms-animation: tumblr_controls_fade_in 0.3s 0.2s linear 1 both;
        -o-animation: tumblr_controls_fade_in 0.3s 0.2s linear 1 both;
        animation: tumblr_controls_fade_in 0.3s 0.2s linear 1 both;
        top: 0 !important;
    }
    .tumblr_controls.sticky.transition {
        -webkit-animation: tumblr_controls_fade_in 0.3s 0.2s linear 1 both;
        -moz-animation: tumblr_controls_fade_in 0.3s 0.2s linear 1 both;
        -ms-animation: tumblr_controls_fade_in 0.3s 0.2s linear 1 both;
        -o-animation: tumblr_controls_fade_in 0.3s 0.2s linear 1 both;
        animation: tumblr_controls_fade_in 0.3s 0.2s linear 1 both;
        top: 0 !important;
    }
    .tumblr_controls.flash_fix {
        visibility: hidden !important;
    }
    #tumblr_controls {
        width: 1px;
        height: 1px;
    }
    @-webkit-keyframes tumblr_controls_fade_in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-moz-keyframes tumblr_controls_fade_in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-ms-keyframes tumblr_controls_fade_in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-o-keyframes tumblr_controls_fade_in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes tumblr_controls_fade_in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }